body {
    margin: 0;
}

.navbar-brand
{
    margin-left: auto;
}

.menuCategoryItem-picture
{
    object-fit: cover;
    height: 240px;
}

.dropdown-item {
    pointer-events: none;    
}

.no-padding-w
{
    padding-right: 0;
    padding-left: 0;
}